<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

   
    <title>My page</title>
  </head>
  <div class="row">
      <div style="background-color: #9490A9	;" class="col-12 mb-5 pt-3 pb-3 text-center">
          <h1>Моя тик ток анкета</h1>
      </div>
  </div>
  <body style="background-color: #C6C3D4;">
    <div class="row">
        <div class="col-4 pr-0">
            <img id="img1" onclick="ChangeFirstImage()" src="/images/1.jpg" alt="" class="img-fluid rounded box">
        </div>
        <div  class="col-8 pl-1 blall">
            <p onclick="ChangeText1()" id="text1" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;">
                Эйкити Онидзука  — 22 года; холост; является бывшим капитаном сборной университета по каратэ, знаменитым байкером (точнее, босодзоку), ведущим разгульный образ жизни. Онидзука очень плохой учитель — он спит над учебниками, бубнит ученикам материал по книжке и абсолютно не знает собственных предметов — истории и социологии (в русской версии перевода — обществоведения), — но отличный классный руководитель.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-8 mb-0 pb-0 pr-0 mt-2 blall" >
            <p onclick="ChangeText2()" id="text2" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;">
                Онидзука Эйкити, известный главарь банды «Онибаку», вместе со своим бывшим одноклассником Рюдзи приезжает в Токио в поисках лучшей жизни. Спокойный и рассудительный Рюдзи открывает собственный автосервис, а Онидзука решает устроиться учителем в школу.
            </p>
        </div>
        <div class="col-4 pr-1 pl-0 mt-2">
            <img onclick="ChangeSecondImage()" src="/images/21.jpg" id="img2" class="img-fluid float-right rounded box">
        </div>
    </div>
    <div style="background-color: #9490A9	;" class="col-12 mb-5 pt-3 pb-3 text-center">
        <h1>Моя Девушка</h1>
    </div>
    <div class="row">
        <div class="col-4 pr-0">
            <img onclick="ChangeThirdImage()" src="/images/31.jpg" id="img3" class="img-fluid rounded box">
        </div>
        <div class="col-8 pl-1 blall">
            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;">
                Уэхара Анко - Хулиганка и подруга Аидзавы, проявляющая наибольший энтузиазм в идеях издевательства над Ёсикавой. Она пытается унизить Нобору любыми средствами, лишь бы только скрыть тот факт, что она влюблена в школьного неудачника, слабака и плаксу. Нобору боится Уэхару до уровня панического ужаса и ночных криков. Несмотря на это, во время поездки на остров Окинава, в результате действий со стороны Эйкити, Уэхара признаётся, что любит Ёсикаву. Согласно манге курит.
            </p>
        </div>
    </div>
    <div style="background-color: #9490A9	;" class="col-12 mb-5 pt-3 pb-3 text-center">
        <h1>Моя Школа</h1>
    </div>
    <div class="row">
        <div class="col-8 mb-0 pb-0 pr-0 mt-2 blall" >
            <p  style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;">
                Московский государственный технологический университет «СТАНКИН» (МГТУ «СТАНКИН») — российский машиностроительный вуз, один из девяти системообразующих университетов в России.

Полное наименование — Федеральное государственное бюджетное образовательное учреждение высшего образования «Московский государственный технологический университет «СТАНКИН».

Основан в 1930 году как Московский станкоинструментальный институт.
            </p>
        </div>
        <div class="col-4 pl-0 mt-2">
            <img onclick="ChangeFourthImage()" src="/images/41.jpg" id="img4" class="img-fluid float-right rounded box">
        </div>
    </div>
    <button onclick="secLab()">Вторая лаба</button>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
  <footer>
      <div class="row">
          <div class="mt-2 col-12 text-center border-top border-dark"><span class="" style="font-family:fantasy; font-size: x-large; font-style: inherit;" >Контакты</span></div>
      </div>
      <div class="row">
          
            <span><strong>E-mail:</strong> m.s.alexandroff@yandex.ru</span>
          
         
         
      </div>
      <div class="row"><strong>Телефон: </strong>+7 800 555 35 35</div>
      <div class="row"><strong>Соц. Сети: </strong><a href="https://vk.com/mishaalexandroff"><img src="/images/vk.jpg" width="25" height="25"></a><a href="https://www.instagram.com/alexandroff12/"><img src="/images/inst.jpg" width="25" height="25"></a></div>
  </footer>
</html>

<style>
.box{
    height: 300px;
    width: 300px;
}
.blall {color: #9490A9;}
.blall:hover {color: #3A2F6E	;}
</style>

<script>
var theNum = "0";
let arr1 = ["1", "2", "3", "4"];
function ChangeFirstImage()
{
    

    if(theNum == arr1.length){theNum="0";}
    console.log("Функция работает")
    img1.src ='/images/'+arr1[theNum]+'.jpg';

    theNum++;

}

function ChangeSecondImage()
{
    

    if(theNum == arr1.length){theNum="0";}
    console.log("Функция работает")
    img2.src ='/images/2'+arr1[theNum]+'.jpg';

    theNum++;

}

function ChangeThirdImage()
{
    

    if(theNum == arr1.length){theNum="0";}
    console.log("Функция работает")
    img3.src ='/images/3'+arr1[theNum]+'.jpg';

    theNum++;

}

function ChangeFourthImage()
{
    

    if(theNum == arr1.length){theNum="0";}
    console.log("Функция работает")
    img4.src ='/images/4'+arr1[theNum]+'.jpg';

    theNum++;

}






var count = 0;

function ChangeText1(){

if (count==0)
{
    document.getElementById("text1").innerHTML="鬼塚英吉-22歳;シングル;大学空手チームの元キャプテン、有名なバイカー（より正確には、bosozoku）であり、横行ライフスタイルをリードしています。 鬼塚は非常に悪い教師です-彼は教科書の上に眠り、本から学生に資料をつぶやき、自分の科目—歴史と社会学（ロシア語版の翻訳—社会学）を絶対に知りませんが、優れたクラスの先生です。";
    count=1;
}
else
{
    document.getElementById("text1").innerHTML="Эйкити Онидзука  — 22 года; холост; является бывшим капитаном сборной университета по каратэ, знаменитым байкером (точнее, босодзоку), ведущим разгульный образ жизни. Онидзука очень плохой учитель — он спит над учебниками, бубнит ученикам материал по книжке и абсолютно не знает собственных предметов — истории и социологии (в русской версии перевода — обществоведения), — но отличный классный руководитель.";
    count=0;
}
}

var count1 = 0;

function ChangeText2(){

if (count1==0)
{
    document.getElementById("text2").innerHTML="鬼幕団のリーダーとして有名な鬼塚英吉は、かつての同級生である龍二とともに、より良い生活を求めて上京する。 穏やかで合理的な龍二は自分の車のサービスを開き、鬼塚は学校の教師として就職することを決めました。";
    count1=1;
}
else
{
    document.getElementById("text2").innerHTML="Онидзука Эйкити, известный главарь банды «Онибаку», вместе со своим бывшим одноклассником Рюдзи приезжает в Токио в поисках лучшей жизни. Спокойный и рассудительный Рюдзи открывает собственный автосервис, а Онидзука решает устроиться учителем в школу.";
    count1=0;
}
}



function secLab(){

    alert("Посмотрите консоль");
    function doubl(numba)
{
    return numba;
}

var pumba = doubl(3);
console.log(pumba);

function pip(one, two, three)
{
    return one+two+three;
}

var pup = pip(1,2,3);
console.log(pup);

var Arr = [1,2,3,"dscs",0,23,554,1,64,"fersa","nytr"];
console.log(Arr);
for (var i = 0;i<11;i++)
{
    if (isNaN(Arr[i]) )
    {
        Arr[i]=0;
    }
    else
    {
    Arr[i]=Arr[i]*Arr[i];
    }
}
console.log(Arr);
}




</script>